html {
  font-size: 100%; }

body {
  background-color: #ebf2ef; }
#header {
  height: 500px;
  width: 100%;
  background: url("background.jpg") no-repeat;
  background-size: auto 100%;
  background-position: center top;
  background-attachment: fixed; }
  #header h1 {
    text-align: center;
    padding-top: 220px; }
  #header h2 {
    text-align: center;
    padding-top: 220px; }

#content {
  position: relative;
  padding: 10px 20px 20px 20px;
  width: 950px;
  margin: auto;
  margin-top: -100px;
  margin-bottom: 30px;
  background: url("arrow-blue.png") no-repeat;
  background-size: 40px 80px;
  background-position: 85% 70px;
  background-color: #fff;
  border-radius: 30px; }
  #content h1 {
    width: 95%;
    margin: auto;
    font-size: 2.4rem !important;
    text-align: center;
    padding: 20px 0 10px 0;
    margin-bottom: 30px;
    color: #5bb8ff !important; }
  #content h2 {
    width: 95%;
    margin: auto;
    font-size: 2.0rem !important;
    text-align: center;
    padding: 20px 0 10px 0;
    margin-bottom: 30px;
    color: #5bb8ff !important; }
  #content .mint-logo {
    position: absolute;
    left: 385px;
    top: -245px; }
  #content div ul {
    padding: 0 100px;
    font-size: 1.1rem; }
    #content div ul a {
      width: 100%;
      color: black;
      transition: 0.25s; }
    #content div ul a:hover {
      color: #5bb8ff;
      transition: 0.25s; }
    #content div ul li {
      margin: 8px;
      list-style-image: url("bullet.gif");
      cursor: pointer;
      cursor: hand;
      transition: 0.5s; }
      #content div ul li .json-views {
      position: absolute;
      top: 0;
      left: 90%;
      font-size: 0.75rem;
      font-weight: bold; }
      #content div ul li .json-tags {
      margin-top: -4px ;
      font-size: 0.75rem;
      font-style: italic;
      font-weight: bold;
      color: #456E9A; }
    #content div ul .js-li--blue {
      color: #5bb8ff !important; }
    #content div ul li:hover {
      color: #5bb8ff;
      transition: 0.5s; }
    #content div ul h3 {
      padding-bottom: 10px;
      padding-top: 10px; }
    #content div ul .json-answer--hidden {
      display: none; }
    #content div ul .json-answer--wrapper {
      padding: 20px;
      padding-top: 5px;
      margin-top: 10px;
      margin-bottom: 30px;
      border: solid 2px #e1e3e5;
      border-radius: 25px; }
      #content div ul .json-answer--wrapper h3 {
        font-size: 1rem;
        color: #5bb8ff; }
      #content div ul .json-answer--wrapper .json-answer {
        position: relative;
        font-size: 0.75rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 12px;
        /* fallback */
        max-height: 600px;
        /* fallback */
        -webkit-line-clamp: 20;
        /* number of lines to show */
        -webkit-box-orient: vertical; }
      #content div ul .json-answer--wrapper .json-answer:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(rgba(255, 255, 255, 0) 0%, white); }

.no-data {
  width: 500px;
  margin: auto; }
  .no-data h3 {
    font-size: 1.4rem !important;
    text-align: center;
    padding: 20px; }
  .no-data #no-data-btn {
    width: 195px;
    margin: auto; }

.mint-button-primary {
  margin: auto;
  font-size: 0.88rem;
}

.mint-search {
  margin: 20px 7.5% !important;
  width: 85% !important; }

.mint-input--transparent-border:focus {
  border-color: #5bb8ff !important; }

#footer {
  position: relative;
  height: 40px;
  width: 100%;
  background-color: #ebf2ef; }
  #footer p {
    position: absolute;
    bottom: 15px;
    left: 50%;
    margin-left: -143px;
    text-align: center;
    color: #383838; }

.fb-share-button {
  position: absolute;
  max-width: 150px;
  max-height: 75px;
  left: 85%;
  top: 0px; }

.twitter-share-btn {
  position: absolute;
  max-width: 150px;
  max-height: 75px;
  left: 73%;
  top: 14px; }

@media screen and (max-width: 600px) {
  .fb-share-button {
    position: absolute;
    left: 65%;
    top: 0px; }
  .twitter-share-btn {
    position: absolute;
    left: 7%;
    top: 14px; }
  #header {
    background-attachment: initial; }
    #header h1 {
      line-height: 2.2rem !important; }
  #content {
    width: 100vw;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 5px 30px 5px;
    background-image: none;
    border-radius: 0; }
    #content div ul {
      padding: 0 15px; }
      #content div ul .json-question {
      font-size: .9rem;
      padding-right: 40px; }
      #content div ul .json-tags {
      font-size: 0.8rem; }
    #content .mint-logo {
      top: -330px;
      left: 50%;
      margin-left: -67px; }
  .no-data {
    width: 100%; }
  #footer p {
    left: 50%;
    margin-left: -140.5px; }
